<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.afinal">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan|stateUnchanged" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.UserDetailActivity" />
        <activity android:name=".Activity.FeedbackActivity" />
        <activity android:name=".Activity.InfoActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.CourseDetailActivity" />
        <activity android:name=".Activity.MyCourseActivity" />
        <activity android:name=".Activity.PostInfoActivity" />
        <activity android:name=".Activity.NewPostActivity" />
        <activity android:name=".Activity.MyPostActivity" />
        <activity android:name=".Activity.MyLikesActivity" />
        <activity android:name=".Activity.CourseDiscussionActivity" />
        <activity android:name=".Activity.MyNotificationActivity"></activity>
    </application>

</manifest>